body {
    background-color: lavender;
}

table {
    font-family: sans-serif;
    margin: 100px auto;
    background-color: white;
}

tr:nth-child(even) {
    background-color: #EDEBD8;
}
td {
    padding-right: 60px;
    border-right: groove 2px rgba(100, 100, 100, 0.3);
}

td:last-child {
    padding-right: 10px;
}

td:last-child {
    border-right: none;
}

thead td {
    background-color: #58b302;
    color: white;
    border-bottom: groove 2px rgba(100, 100, 100, 0.3);
}

.country::before {
    content: "";
    display: inline-block;
    /* color: transparent; */
    background-repeat: no-repeat;
    margin: 0px 10px;
    width: 20px;
    height: 15px;
}

#germany::before {
    background: url("./img/de.svg");
}

#mexico::before {
    background: url("./img/mx.svg");
}

#uk::before {
    background: url("./img/gb.svg");
}