

p {
    margin: 5px;
}

.menu-item {
    display: inline-block;
    margin: 3px;
    font-family: sans-serif;
    font-size: 14px;
}

.menu-item:hover {
    color: darkblue;
    cursor: pointer;
}

.menu-item:active {
    color: blue;
}

.btn {
    min-width: 40px;
    height: 30px;
    border: 1px solid rgb(136, 136, 136);
    border-radius: 2px;
    cursor: pointer;
    color: #1D3457;
}

.btn1 {
    background: linear-gradient(to top, #ECF3FC 45%, #F6FBFE 55%);
    font-size: 20px;
}

.btn2 {
    background: linear-gradient(to top, #D4DFF0 45%, #EFF3FB 55%);
}

.btn3 {
    background: #D8E3F2;
}

.btn4{
    background: #D8E3F2;
    border-color: rgb(194, 194, 194);
}

.btn:hover {
    background: linear-gradient(to top, #FED57A 50%,#FFEEDF 55%);
    border: 1px solid #ffe19f;
}

.btn:active {
    background: linear-gradient(to top, #c7a867 50%, #d4c7bb 55%);
    border: 1px solid #b19353;
}

.check-box {
    border: 1px solid grey;
    border-radius: 4px;
    min-width: 80px;
    color: #1D3457;
}

.radio {
    margin: 6px 3px;
}

.hex-decimal {
    color:grey;
}

#main-container {
    border: 1px solid black;
    margin: 100px auto;
    width: 500px;
    position: relative;
    padding: 5px;
    background: linear-gradient(to top right, #AFD1F7, #A8C9EC, #CFE4FD);
    border-radius: 5px;
}

#sub-main-container {
    border: 1px solid black;
    margin-top: 10px;
}

#menu-container {
    border-bottom: 1px solid grey;
    background: linear-gradient(to top, #c9cddb 55%, #F4F4FC 80%);
}

#table-container {
    padding: 12px;
    background: linear-gradient(to top, #D8E3F2 80%, #EDF4FE);
    font-family: sans-serif;
}

#hex-table {
    width: 100%;
    border: 1px solid grey;
    border-radius: 4px;
    padding: 5px 5px;
    color: #1D3457;
    font-family: "Consolas", sans-serif;
}

#hex-table td:last-child {
    text-align: right;
    width: 5%;
}

#screen {
    height: 50px;
    padding: 5px;
    background: linear-gradient(to top, #FFFFFF, #E4EDFA);
    border: 1px solid grey;
    border-radius: 4px;
    font-size: 25px;
    font-family: "Consolas", sans-serif;
}

#calc-image {
    width: 18px;

}

#top-buttons-container {
    float: right;
    display: flex;
    position: absolute;
    top: 0px;
    right: 8px;
}

#minimize-btn {
    width: 30px;
    border-radius: 0px 0px 0px 4px;
    border: 1px solid grey;
    border-top: none;
    background: linear-gradient(to top, #A9BAD1 40%, #DFEAF6 50%);
    color: whitesmoke;
    font-size: 18px;
    font-weight: bold;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

#minimize-btn:hover {
    border: 1px solid rgb(175, 175, 175);
    background: linear-gradient(to top, #b4c6df 40%, #e8f3ff 50%);
    border-top: none;

}

#minimize-btn:active, #windowed-btn:active {
    border: 1px solid black;
    background: linear-gradient(to top, #99a8bd 40%, #bac4cf 50%);
    border-top: none;
}

#windowed-btn {
    width: 30px;
    border-radius: 0;
    border: 1px solid grey;
    background: linear-gradient(to top, #A9BAD1 40%, #DFEAF6 50%);
    color: whitesmoke;
    font-size: 18px;
    font-weight: bold;
    border-top: none;
}

#close-btn {
    width: 55px;
    border-radius: 0px 0px 4px 0px;
    border: 1px solid grey;
    background: linear-gradient(to top, #CB563A 40%, #F5B3A6 50%);
    color: whitesmoke;
    font-size: 18px;
    font-weight: bold;
    text-shadow: -1px -1px 1px rgb(29, 29, 29), 1px -1px 1px rgb(27, 27, 27), -1px 1px  rgb(29, 29, 29), 1px 1px 0 rgb(49, 49, 49);
    border-top: none;
}

#close-btn:hover {
    border: 1px solid rgb(175, 175, 175);
    background: linear-gradient(to top, #db5e3f 40%, #fdb9ab 50%);
    border-top: none;
}

#close-btn:active {
    border: 1px solid black;
    background: linear-gradient(to top, #b94f34 40%, #d69d91 50%);
    border-top: none;
}

#window-name {
    display: flex;
    align-items: center;
    padding-top: 2px;
    font-family: sans-serif;
}