* {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    color: rgb(250, 250, 250);
}

body {
    background-color:rgb(94, 163, 163);
}

h1 {
    font-size: 40px;
    text-align: center;
    margin: 60px;
}

h2 {
    font-size: 25px;
    font-weight: lighter;
}

p {
    margin: 0;
}

button {
    width: 200px;
    height: 160px;
    border-radius: 10px;
    background-color: rgb(56, 18, 146);
    transition: all 0.15s ease-in-out;
    margin: 15px;
}

button.small {
    width: 200px;
    height: 70px;
    margin: 12px;
}

.main-container {
    margin: 100px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

.case-container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
}

.btn-container {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
}

#hover:hover {
    background-color: tomato;
}

#visited:visited {
    color: rgb(61, 228, 61);
}

#active:active {
    background-color: greenyellow;
    content: "Element is active";
}

#first-line:hover::first-line {
    color: rgb(255, 0, 0);
}

#before:hover::before
{
    content: "♥ ";
    color: rgb(252, 248, 22);
    font-size: 20px;
}

#after:hover::after {
    content: "★ ";
    color: rgb(17, 255, 49);
    font-size: 20px;
}

:lang(ru):hover {
    background-color: #5219d6;
}

:lang(ru):hover::after {
    content: "русский";
}

:lang(de):hover {
    background-color: #5219d6;
}

:lang(de):hover::after {
    content: "deutch";
}