* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #212022;
}

.main-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3.5fr;
      grid-template-columns: 1fr 3.5fr;
}

.main-container .left-panel {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100vh;
  margin: 0px auto;
}

.main-container .left-panel input {
  display: none;
}

.main-container .left-panel input:checked ~ .left-panel-img {
  display: block;
}

.main-container .left-panel input:checked ~ a {
  visibility: visible;
}

.main-container .left-panel .left-panel-img-tumbnail {
  display: block;
  width: 90%;
  margin: 10px;
}

.main-container .left-panel .left-panel-img-tumbnail:hover {
  border: 2px solid white;
  border-radius: 5px;
  cursor: pointer;
}

.main-container .left-panel .left-panel-img {
  display: none;
  position: fixed;
  width: 55%;
  height: 75%;
  top: 15vh;
  right: 12vw;
}

.main-container .left-panel a {
  visibility: hidden;
  position: fixed;
  bottom: 5vh;
  right: 37vw;
  color: white;
}

.main-container .left-panel a:hover {
  color: yellowgreen;
}

.main-container .view-panel h1 {
  color: white;
  font-family: sans-serif;
  font-size: 40;
  margin: 50px;
  margin-bottom: 20px;
}

.main-container .view-panel .main-img-container {
  width: 1000px;
  max-height: 800px;
  margin: 0 auto;
}
