

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #212022;
}

.main-container {
    display: grid;
    grid-template-columns: 1fr 3.5fr;
    .left-panel {
        overflow-x: hidden;
        overflow-y: scroll;
        height: 100vh;
        margin: 0px auto;
        input {
            display: none;
            &:checked {
                ~ .left-panel-img {
                display: block;
                }
                ~ a {
                    visibility: visible;
                }
            }
        }
        .left-panel-img-tumbnail {
            display: block;
            width: 90%;
            margin: 10px;
            &:hover {
                border: 2px solid white;
                border-radius: 5px;
                cursor: pointer;
            }
        }
        .left-panel-img{
            display: none;
            position: fixed;
            width: 55%;
            height: 75%;
            top: 15vh;
            right: 12vw;
        }
        a {
            visibility: hidden;
            position: fixed;
            bottom: 5vh;
            right: 37vw;
            color: white;
            &:hover {
                color:yellowgreen;
            }
        }
    }    
    .view-panel {
        h1 {
            color: white;
            font-family: sans-serif;
            font-size: 40;
            margin: 50px;
            margin-bottom: 20px;
        }
        .main-img-container {
            width: 1000px;
            max-height: 800px;
            margin: 0 auto;
        }
    }

}