
.input-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 840px;
    background: linear-gradient(330deg , rgb(1, 61, 1) ,green);
    border: 1px solid #01cc01;
    border-radius: 3px;
}

.line-container {
    /* border: 1px solid #01cc01; */
    margin: 5px;
    padding: 5px;
    color: #01cc01;
    text-align: center;
    border-right: 1px solid rgb(0, 184, 0);
    width: 33.33%;
}

.line-container:last-child {
    border: none;
}

input {
    width: 40px;
}

h3 {
    margin: 7px;
}

h4 {
    margin: 3px;
}

input[type="radio"] {
    margin: 10px 40px;
}

.line-container>label {
    color: rgb(0, 245, 0);
}

.input-container>label {
    margin: 10px 40px;
    color: rgb(0, 245, 0);
}