body {
    color: white;
    font-family: Verdana;
}

a {
    color: black;
    text-decoration: none;
}

header {
    background: #535353;
    height: 20px;
    margin: 0 0 20px 0px;
    padding: 20px;
}

canvas {
    /* border: 1px solid black; */
    display: block;
    margin: 5px;
}

button {background: #188d00;border: 1px solid #005504; width: auto; padding: 10px; color: #ffffff; margin: 10px;}
button:active {background: #007206; border: 1px solid #003503; color: #d6d6d6;}
input[type="text"] {background: #e0e0e0;border: 1px solid #949494; width: 180px;height: 25px ;background: #282828; color: #e0e0e0; margin: 5px}

input[type="color"] {
    width: 50px;
    padding: 1px;
}

textarea {
    resize: none;
}

.current {
    font-weight: bold;
    text-decoration: underline;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(330deg , rgb(0, 102, 0) ,rgb(0, 119, 128));
    width: fit-content;
    border-radius:3px;
    margin: 20px 0px;
}

.nav-option {
    color: white;
    transition: background-color 0.2s;
    padding: 15px 30px;
    border-radius: 1px;
}

.nav-option:hover {
    background-color: rgb(0, 212, 212);
}

.description {
    width: 50vw;
}

.active {
    background-color: aquamarine;
    color: black;
}