body {
    background-color: rgb(70, 116, 155);
    font-family: Verdana;
}

a {
    color: black;
    text-decoration: none;
}

header {
    background: #535353;
    height: 20px;
    margin: 0 0 20px 0px;
    padding: 20px;
}

canvas {
    /* border: 1px solid black; */
    display: block;
    margin: 5px;
}

button {background: whitesmoke;border: 3px outset grey; width: 60px; padding: 5px; color: black; margin: 10px; font-size: 18px;}
button:active {background: rgb(214, 214, 214); border: 3px inset grey; color: black;}
input[type="text"] {background: #e0e0e0;border: 1px solid #949494; width: 180px;height: 25px ;background: #282828; color: #e0e0e0; margin: 5px}

input[type="color"] {
    width: 50px;
    padding: 1px;
}

textarea {
    resize: none;
}

.current {
    font-weight: bold;
    text-decoration: underline;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(330deg , rgb(0, 102, 0) ,rgb(0, 119, 128));
    width: fit-content;
    border-radius:3px;
    margin: 20px 0px;
}

.nav-option {
    color: white;
    transition: background-color 0.2s;
    padding: 15px 30px;
    border-radius: 1px;
}

.nav-option:hover {
    background-color: rgb(0, 212, 212);
}

.description {
    width: 50vw;
}

.active {
    background-color: aquamarine;
    color: black;
}

#main {
    width: 500px;
    height: 500px;
    margin: 50px auto;
    margin-bottom: 20px;;
    background-color: rgba(0, 0, 0, 0.342);
    border:5px solid rgb(43, 43, 43);
    position: relative;
    overflow: hidden;
    background-image: url("../img/city.png");
    background-blend-mode: darken;
    background-size: contain;
}

#trashcan {
    width: 100px;
    margin: 0;
    padding: 0;
    position: absolute;
}

.trash {
    width: 40px;
    height: 40px;
    position: absolute;

}

.trash:hover {
    cursor: grab;
}

#trashcan, .trash {
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
}

.obstacle {
    width: 300px;
    height: 100px;
    background-color: rgb(88, 88, 88);
    position: absolute;
    left: 100px;
    top: 200px;
}

#scoreTable {
    width: 160px;
    height: 30px;
    border: 5px outset rgb(90, 90, 90);
    margin: 10px auto;
    position: relative;
    background-color: whitesmoke;
    color: green;
    padding: 2px;
    font-size: 24px;
    letter-spacing: 2px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}

#mouse {
    width: 160px;
    height: 30px;
    border: 5px outset rgb(90, 90, 90);
    margin: 10px;
    position: relative;
    background-color: whitesmoke;
    left: 160px;
    color: green;
    padding: 2px;
    font-size: 18px;
    letter-spacing: 2px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}

.floating-score {
    position: absolute;
    color: rgb(182, 0, 173);
    font-size: 24px;
    letter-spacing: 2px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    display: block;
}

#background {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 199, 10, 0.8);
    top: 0px;
    transition: all 0.2s ease-out;
}

#gameover {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: black;
    color: whitesmoke;
    text-align: center;
    font-size: 18px;
    top: -500px;
    transition: all 1s ease-out;
}

#menu {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: black;
    transition: all 0.3s ease-out;
    color: whitesmoke;
    text-align: center;
    font-size: 18px;
    top: 0px;
    transition: all 1s ease-out;
}

#menu button {
    width: auto;
    font-size: 30px;
}

#score {
    color: green;
}

#message {
    margin: 10px auto;
    position: relative;
    color: rgb(255, 0, 255, 0.7);
    padding: 2px;
    font-size: 70px;
    letter-spacing: 2px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    pointer-events: none;
}