* {
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(146, 146, 241);
}

table {
    margin-top: 25vh;
    width: 15vw;
    border: 3px solid rgb(1, 0, 31);
    border-radius: 10px;
    box-shadow: 10px 10px 20px rgb(6, 0, 65, 0.4);
}

td {
    border: 2px solid rgb(24, 24, 150);
    /* background: radial-gradient(rgb(47, 61, 255), rgb(36, 36, 194)); */
}

button {
    width: 100%;
    border: none;
    background: radial-gradient(rgb(47, 61, 255), rgb(36, 36, 194));
    transition: text-shadow 0.2s;
    color: whitesmoke;
    font-size: 40px;
    padding: 5px;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
    text-align: center;
}

button:hover {
    text-shadow: 1px 1px 25px rgba(0, 0, 22, 0.7);
}

button:active {
    background: radial-gradient(rgb(42, 54, 223), rgb(19, 19, 117));
    color: rgb(170, 170, 170);
}

input {
    background: radial-gradient(rgb(47, 61, 255), rgb(36, 36, 194));
    border: none;
    text-align: right;
    padding: 10px;
    font-size: 40px;
    width: 100%;
    color: whitesmoke;
    font-family: "Poppins", sans-serif;
}