
@border-color: black;
@font-stack: Consolas, 'Lucida Console', 'DejaVu Sans Mono', monospace;
@def-font-size: 1.2em;
@strong-color: #cccccc;
@em-color: #cccccc;

.gradient {
    background: linear-gradient(to top, #9215F2, 85%,#ddb3ff)
}

.clear {
    clear: both;
}

.clearfix_before() {

}

.clearfix_after() {

}

.clearfix {
    zoom: 1;
    &::before {
        content: "\0020";
        display: block;
        height: 0;
        overflow: hidden;
    }
    &::after {
        &:extend(.clearfix::before);
        .clear;
    }
}

body, header, section, footer, article, h1, h2, h3, h4, h5, h6, input, button, label, p, fieldset, nav, ul, li, a, span, strong, em {
    margin: 0;
    padding: 0;
    border: 0;
}

div, h1, h3, h4, h5, h6, header, footer, body, section, nav, article, aside {
    display: block;
}


body {
    font: 14px normal Arial;
    color: white;
    .gradient;
    header {
        padding: 25px 15px 5px 15px;
        div#header-container {
            .clearfix;
            &:extend(span);
            &:after {
                &:extend(.clearfix::before);
                &:extend(.clearfix::after);
            }
            &:before {
                &:extend(.clearfix::before);
            }
            div#logo-container{
                float: left;
                position: relative;
            }
            div#reg-form-container {
                float: right;
                position: relative;
                right: 5%;
                top: 50%;
                div {
                    text-align: right;
                    label {
                        width: 50px;
                        margin: 5px;
                    }
                    input {
                        width: 130px;
                        border: 1px solid rgb(167, 167, 167);
                        border-radius: 10px;
                        padding: 2px 5px;
                        margin: 5px;
                    }
                }
                button {
                    margin-left: auto;
                    margin-right: auto;
                    font-weight: bold;
                    border: 1px solid;
                    border-style: outset;
                    border-radius: 10px;
                    padding: 7px 12px;
                    background-color: #B35EF3;
                    color:white;
                    &:hover {
                        background-color: #8949b9;
                        border-style: inset;
                    }
                }
            }
        }
        nav {
            .clearfix;
            &:after {
                &:extend(.clearfix::before);
                &:extend(.clearfix::after);
            }
            &::before {
                &:extend(.clearfix::before);
            }
            display: inline-block;
            width: 75%;
            margin: 20px 20px 20px 20px;
            padding: 12px;
            border: 1px solid @border-color;
            ul {
                .clearfix;
                &:after {
                    &:extend(.clearfix::before);
                    &:extend(.clearfix::after);
                }
                &:before {
                    &:extend(.clearfix::before);
                }
                &.nav-list {
                    list-style-type: none;
                }
                li {
                    float: left;
                    margin: 0;
                    a {
                        text-decoration: none;
                        padding: 0 10px 0 10px;
                        color: white;
                        font: 1.4em normal Arial;
                        &.selected {
                            font-weight: bold;

                        }
                    }
                    &:hover {
                        & > a {
                            text-decoration: underline;
                            color: #a8a8a8;
                            + ul {
                                display: block;
                            }
                        }
                    }
                    ul {
                        &.sub-nav-list {
                            .clearfix;
                            &:after {
                                &:extend(.clearfix::before);
                                &:extend(.clearfix::after);
                            }
                            &:before {
                                &:extend(.clearfix::before);
                            }
                            position: absolute;
                            display: none;
                            background-color: rgba(179, 94, 243, 0.9);
                            border-radius: 5px;
                        }
                        li {
                            float: none;
                            margin: 0 15px;
                            padding: 10px 0;
                            border-bottom: 1px solid @border-color;
                            &:last-of-type {
                                border-bottom: none;
                            }
                            & > a {
                                font-size: @def-font-size;
                                color: #fff;
                            }
                        }
                    }
                }
            }
        }
    }
    section {
        .clearfix;
        &:after {
            &:extend(.clearfix::before);
            &:extend(.clearfix::after);
        }
        &:before {
            &:extend(.clearfix::before);
        }
        width: 75%;
        float: left;
        color: black;
        article {
            margin: 20px;
            padding: 20px;
            border: 1px solid @border-color;
            header {
                background: none;
                padding: 5px;
                h1 {
                    font-size: 1.4em;
                    padding: 0;
                }
            }
            footer {
                padding: 5px;
                p {
                    font-size:16px;
                    text-align: right;
                    font-weight: normal;
                    time {
                        font-family: @font-stack;
                    }
                    a {
                        text-decoration: none;
                        color: #CC90F7;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }
    aside {
        .clearfix;
        &:after {
            &:extend(.clearfix::before);
            &:extend(.clearfix::after);
        }
        &:before {
            &:extend(.clearfix::before);
        }
        float: left;
        width: 20%;
        margin: 20px;
        & > ul {
            list-style-type: none;
            & > li {
                margin: 15px 0;
                padding: 15px;
                border: 1px solid @border-color;
                border-radius: 5px;
                h2 {
                    font-size: 1.1em;
                    font-weight: bold;
                }
                p {
                    margin: 10px 5px 10px 5px;
                    font-size: 14px;
                    a {
                        color: #aaaaaa;
                        text-decoration: none;
                    }
                    strong {
                        color: @strong-color;
                        font-weight: bold;
                        font-style: normal;
                    }
                    em {
                        color: @em-color;
                        font-weight: normal;
                        font-style: italic; 
                    }
                }
                ul {
                    list-style-type: none;
                    margin: 10px 0px 10px 0px;
                    li {
                        margin: 5px 0px 0px 5px;
                        background: url(images/li-dot.png) no-repeat;
                        background-position: 0 50%;
                        padding-left: 5px;
                    }
                }
            }
        }
    }
    footer {
        .clear;
        padding: 15px 0px 25px 0px;
        text-align: center;
        p {
            font-size: @def-font-size;
            font-weight: bold;
        }
    }
}

nav {
    border: solid 1px;
    border-radius: 15px;
}

article {
    border-radius: 15px;
    color: white;
}

#tb-username, #tb-password {
    background-color: #B35EF3;
}