body {
    background-color: aquamarine;
}

table {
    margin-top: 200px;
    border-color: beige;
    font-family: sans-serif;
    font-size: 14px;
    background-color: whitesmoke;
    border-radius: 10px;
}

td {
    border-color: rgb(224, 224, 224);
}

thead {
    background: linear-gradient(to top, rgb(177, 177, 177), whitesmoke);
}

tfoot {
    background: linear-gradient(to top, rgb(177, 177, 177), whitesmoke);
}

.t_button {
    background: url(./img/filter-filled-tool-symbol.png);
    background-position: center;
    background-repeat: no-repeat;
    padding: 3px 7px;
    border-radius: 4px;
    border-color: rgb(209, 209, 209);
}

#all_prev {
    background: url(./img/fast-back.png);
    border-width: 1px;
    padding: 5px 15px;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 4px;
    border-color: rgb(209, 209, 209);
}

#prev {
    background: url(./img/left-arrow-black-triangular-shape.png);
    border-width: 1px;
    padding: 5px 15px;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 4px;
    border-color: rgb(209, 209, 209);
}

#all_next {
    background: url(./img/fast-forward.png);
    border-width: 1px;
    padding: 5px 15px;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 4px;
    border-color: rgb(209, 209, 209);
}

#next {
    background: url(./img/right-arrow-black-triangular-shape.png);
    border-width: 1px;
    padding: 5px 15px;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 4px;
    border-color: rgb(209, 209, 209);
}

#top_td {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#bottom_td {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}