
body {
    font-family: sans-serif;
    background-color:skyblue;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

img {
    width: 100%;
    margin: 0px 50px 30px 0px;
}

.main {
    border: 2px solid #00858e;
    background-color: #1c3543;
    width: 800px;
    border-radius: 15px;
    margin: 100px auto;
}

.nav {
    display: flex;
    align-items: center;
}

.nav button {
    margin: 20px 1px;
    height: 45px;
    padding: 0px 20px;    
    background-color: #4A5D67;
    border: none;
    color: #819DB4;
    transition: all 0.2s;
}

.nav button:hover {
    background-color: #537d94;
    color:whitesmoke;
}

.nav button:nth-child(2) {
    text-decoration: underline;
}

.nav span {
    color: white;
    margin: 15px
}

.container {
    display: flex;
    align-content: center;
}


li {
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 20px 10px;
    justify-content: space-evenly;
    color: lightgray;
    /* background-color: red; */
    border-top: 2px solid #2F4453;
    transition: all 0.2s;
}

li:first-child {
    border: none;
}

li:hover {
    background-color: #00868F;
    color: white;
}