.clearfix, body header div#header-container, body header nav, body header nav ul, body header nav ul li ul.sub-nav-list, body section, body aside {
  zoom: 1;
}

.clearfix::before, .clearfix::after, body header div#header-container::after, body header div#header-container:after, body header nav::after, body header nav:after, body header nav ul::after, body header nav ul:after, body header nav ul li ul.sub-nav-list::after, body header nav ul li ul.sub-nav-list:after, body section::after, body section:after, body aside::after, body aside:after, body header div#header-container::before, body header div#header-container:before, body header nav::before, body header nav ul::before, body header nav ul:before, body header nav ul li ul.sub-nav-list::before, body header nav ul li ul.sub-nav-list:before, body section::before, body section:before, body aside::before, body aside:before {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}

.clearfix::after, body header div#header-container::after, body header div#header-container:after, body header nav::after, body header nav:after, body header nav ul::after, body header nav ul:after, body header nav ul li ul.sub-nav-list::after, body header nav ul li ul.sub-nav-list:after, body section::after, body section:after, body aside::after, body aside:after {
  clear: both;
}

body, header, section, footer, article, h1, h2, h3, h4, h5, h6, input, button, label, p, fieldset, nav, ul, li, a, span, body header div#header-container, strong, em {
  margin: 0;
  padding: 0;
  border: 0;
}

div, h1, h3, h4, h5, h6, header, footer, body, section, nav, article, aside {
  display: block;
}

body {
  font: 14px normal Arial;
  color: white;
  background: -webkit-gradient(linear, left bottom, left top, from(#9215F2), color-stop(85%), to(#ddb3ff));
  background: linear-gradient(to top, #9215F2, 85%, #ddb3ff);
}

body header {
  padding: 25px 15px 5px 15px;
}

body header div#header-container div#logo-container {
  float: left;
  position: relative;
}

body header div#header-container div#reg-form-container {
  float: right;
  position: relative;
  right: 5%;
  top: 50%;
}

body header div#header-container div#reg-form-container div {
  text-align: right;
}

body header div#header-container div#reg-form-container div label {
  width: 50px;
  margin: 5px;
}

body header div#header-container div#reg-form-container div input {
  width: 130px;
  border: 1px solid #a7a7a7;
  border-radius: 10px;
  padding: 2px 5px;
  margin: 5px;
}

body header div#header-container div#reg-form-container button {
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
  border: 1px solid;
  border-style: outset;
  border-radius: 10px;
  padding: 7px 12px;
  background-color: #B35EF3;
  color: white;
}

body header div#header-container div#reg-form-container button:hover {
  background-color: #8949b9;
  border-style: inset;
}

body header nav {
  display: inline-block;
  width: 75%;
  margin: 20px 20px 20px 20px;
  padding: 12px;
  border: 1px solid black;
}

body header nav ul.nav-list {
  list-style-type: none;
}

body header nav ul li {
  float: left;
  margin: 0;
}

body header nav ul li a {
  text-decoration: none;
  padding: 0 10px 0 10px;
  color: white;
  font: 1.4em normal Arial;
}

body header nav ul li a.selected {
  font-weight: bold;
}

body header nav ul li:hover > a {
  text-decoration: underline;
  color: #a8a8a8;
}

body header nav ul li:hover > a + ul {
  display: block;
}

body header nav ul li ul.sub-nav-list {
  position: absolute;
  display: none;
  background-color: rgba(179, 94, 243, 0.9);
  border-radius: 5px;
}

body header nav ul li ul li {
  float: none;
  margin: 0 15px;
  padding: 10px 0;
  border-bottom: 1px solid black;
}

body header nav ul li ul li:last-of-type {
  border-bottom: none;
}

body header nav ul li ul li > a {
  font-size: 1.2em;
  color: #fff;
}

body section {
  width: 75%;
  float: left;
  color: black;
}

body section article {
  margin: 20px;
  padding: 20px;
  border: 1px solid black;
}

body section article header {
  background: none;
  padding: 5px;
}

body section article header h1 {
  font-size: 1.4em;
  padding: 0;
}

body section article footer {
  padding: 5px;
}

body section article footer p {
  font-size: 16px;
  text-align: right;
  font-weight: normal;
}

body section article footer p time {
  font-family: Consolas, "Lucida Console", "DejaVu Sans Mono", monospace;
}

body section article footer p a {
  text-decoration: none;
  color: #CC90F7;
}

body section article footer p a:hover {
  text-decoration: underline;
}

body aside {
  float: left;
  width: 20%;
  margin: 20px;
}

body aside > ul {
  list-style-type: none;
}

body aside > ul > li {
  margin: 15px 0;
  padding: 15px;
  border: 1px solid black;
  border-radius: 5px;
}

body aside > ul > li h2 {
  font-size: 1.1em;
  font-weight: bold;
}

body aside > ul > li p {
  margin: 10px 5px 10px 5px;
  font-size: 14px;
}

body aside > ul > li p a {
  color: #aaaaaa;
  text-decoration: none;
}

body aside > ul > li p strong {
  color: #cccccc;
  font-weight: bold;
  font-style: normal;
}

body aside > ul > li p em {
  color: #cccccc;
  font-weight: normal;
  font-style: italic;
}

body aside > ul > li ul {
  list-style-type: none;
  margin: 10px 0px 10px 0px;
}

body aside > ul > li ul li {
  margin: 5px 0px 0px 5px;
  background: url(images/li-dot.png) no-repeat;
  background-position: 0 50%;
  padding-left: 5px;
}

body footer {
  clear: both;
  padding: 15px 0px 25px 0px;
  text-align: center;
}

body footer p {
  font-size: 1.2em;
  font-weight: bold;
}

nav {
  border: solid 1px;
  border-radius: 15px;
}

article {
  border-radius: 15px;
  color: white;
}

#tb-username, #tb-password {
  background-color: #B35EF3;
}
