
h1 {
    color: #FEB60F;
    margin-top: 0px;
}

main p {
    color: rgb(197, 197, 197);
}

.nav img {
    margin: 0px 10px;
}

.nav p {
    color: white;
    margin: 0px 10px;
}

input {
    padding: 6px;
    margin: 0px 10px;
}

.nav button {
    padding: 6px 17px;
    margin: 0px 10px;

}

.main {
    width: 750px;
    margin: 100px auto;
    padding: 40px;
    background-color: #5E5A5C;
    border-radius: 20px;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

#shadow {
    width: 100%;
    margin: 20px 0px 0px;
}