
.childless, .with-children {
    padding: 10px;
    margin: 10px;
    max-width: 200px;
    border: 2px solid blue;
}

label {
    display: block;
}

input[type="range"] {
    width: 400px;
}

.circle {
    width: 10px;
    height: 10px;
    background-color: whitesmoke;
    border-radius: 50px;
    position: absolute;
}

#console {
    position: relative;
}