


.main {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    font-family: sans-serif;
    padding: 5px;
    border: 3px solid grey;
    background-color: lightgray;
    width: 1200px;
    margin: 30px auto;
}

.left {
    padding-top: 20px
}

.center {
    padding: 0px 10px;
    border: 1px solid grey;
    background-color: white;
}

.right {
}

.left ul {
    list-style-type: none;
    margin-left: 5px;
    padding: 0px;
}

.left li:first-child a {
    color: darkred;
    font-weight: bold;
}

.left a {
    text-decoration: none;
    color: black;
}

.left ul a:hover {
    text-decoration: underline;
}

.content {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.text {
    margin: 0px 10px;
}

.center h3 {
    margin-bottom: 0px;
    color:white;
    padding: 2px;
    background-color: grey;
}

.content img {
    width: 40%;
}

.center button {
    background-color: transparent;
    border: 1px solid black;
    width: 120px;
    height: 25px;
}

.center a, .right a {
    color: darkred;
}

.box {
    text-align: center;
    border: 1px solid grey;
    margin: 0px 1px 1px 1px;
    padding: 5px;
    background-color: white;
}

.box p {
    margin: 5px;
    font-size: 14px;
}

.box h3 {
    color: white;
    background-color: grey;
    margin-top: 0px;
    margin-bottom: 10px;
}

.box input {
    width: 100px;
    font-size: 18px;
}

.prev:hover, .next:hover {
    cursor: pointer;
}

.prev:active, .next:active {
    background-color: lightgrey;
}

.prev:before {
    content: "";
    display: inline-block;
    border: 5px solid black;
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    position: relative;
    left: -20px;
}

.next:after {
    content: "";
    display: inline-block;
    border: 5px solid black;
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-right-color: transparent;
    position: relative;
    right: -35px;
}

#big-btn {
    width: 130px;
    height: 50px;
    margin: 5px;
    background: linear-gradient(to right, #a0d0f0 3%, #BCE4FF 10%, #BCE4FF 90%, #a0d0f0 95%);
    color: #34c3ee;
    font-size: 18px;
    border-color: rgb(27, 156, 216);
    border-radius: 3px;
}