* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: content-box;
}

body {
    background-color: rgb(104, 207, 173);
}

a {
    font-size: 24px;
    font-size: 24px;
}

img {
    width: 90%;
}

p {
    margin-top: 12px;
}

legend {
    padding: 0px 10px;
}

fieldset {
    border: solid 2px;
    padding: 10px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    text-align: center;
}

.slider-div {
    margin: 70px 30px;
    text-align: center;
}

.slider-label {
    font-size: 20px;
    margin: 10px 0px;
}

.slider {
    width: 200px;
}

#table0 {
    background-color: whitesmoke;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    padding: 15px;
}

#table1 {
    border: solid 2px;
    padding: 10px;
    margin-top: 10px;
}

#head-td {
    border-bottom: solid 2px;
    padding-bottom: 10px;
}
