* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: content-box;
}

body {
    background-color: rgb(104, 207, 173);
}

.nav a {
    font-size: 24px;
    font-size: 24px;
    color: #15A5F0;
}

img {
    width: 90%;
}

legend {
    padding: 0px 10px;
}

fieldset {
    border: solid 2px;
    padding: 10px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    text-align: center;
}

form {
    background-color: whitesmoke;
    width: fit-content;
    padding: 15px;
    margin: 100px auto;
    border-radius: 20px;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid black;
}

.nav a {
    margin: 5px;
}

.main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-top: 15px;
}

.items-container {
    border: 2px solid black;
    width: fit-content;
    padding: 5px;
    height: fit-content;
}

.content-row {
    display: flex;
}

.box {
    margin: 5px;
}

.sliders-container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
}

.slider-div {
    margin: 20px 30px;
    text-align: center;
}

.slider-label {
    font-size: 20px;
    margin: 10px 0px;
}

.slider {
    width: 200px;
}