body {
    background-color: rgb(120, 185, 185);
}

textarea {
    resize: none;
}

.main-container {
    padding: 20px;
    margin: 30px auto;
    width: 600px;
    background-color: aquamarine;
    border-radius: 10px;
}

span {
    background-color: lightgrey;
}

li {
    margin: 10px;
}

input {
    margin: 10px
}