
ul {
    list-style-type: none;
    padding-left: 20px;
    width: fit-content;
}

ul:hover {
    cursor: default;
}

.sup:hover .sub {
    display: list-item;
}

.sup:hover::first-line {
    text-decoration: underline;
}

.sub {
    display: none;
    color: grey;
}