body {
    background-color:lavender;
}

table {
    font-family: sans-serif;
    background-color: #59585A;
    padding-right: 100px;
    margin: 200px auto;
}

th {
    color: rgb(194, 194, 194);
}

td {
    vertical-align: top;
}

tbody td:first-child {
    font-style: italic;
    color: whitesmoke;
}

.ticket-id {
    color: rgb(177, 177, 177);
    font-size: 1.5em;
}

.data {
    color: lemonchiffon;
}

.inactive-data {
    color: rgb(194, 194, 194);
}

.attention-data {
    font-weight: bold;
    color: #CB6A35;
}

#name::before {
    content: "";
    color: transparent;
    display: inline-block;
    background-color: #70A97B;
    width: 14px;
    height: 14px;
    border-radius: 10px;
}

#name::after {
    content: "No Active Support";
    color: red;
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
}