

body {
    font-family: sans-serif;
    font-size: 15px;
}

header {
    margin-left: 24px;
}

.background {
    background-color: #F0EEF0;
    margin: 100px auto 0px;
    width: 500px;
    padding: 20px;
    border-radius: 20px;
}

.container {
    display: flex;
    padding: 15px;
    background-color: white;
    width: fit-content;
    border: 1px solid grey;
    margin: 30px auto;
}

.description {
    width: 220px;
    margin: 0px 0px 15px;
}

.image {
    width: 170px;
    margin-right: 15px;
    border: 1px outset grey;
}

.button {
    position: relative;
    display: inline-block;
    background-color: blue;
    width: 80px;
    height: 27px;
}

.button-img {
    position: absolute;
    width: 80px;
    height: 27px;
}

.button-text {
    position: absolute;
    color: white;
    z-index: 1;
    left: 24px;
    top: 5px;
}

p+div {
    margin-left: 70px;
}