body {
    font-family: 'Consolas', sans-serif;
    color: #0094ff;
}

p {
    width: 40vw;
}

p::first-letter
{
    font-family: 'Edwardian Script ITC', sans-serif;
    font-size: 40px;
}

p::first-line {
    font-weight: bold;
}


@font-face {
    font-family: 'Edwardian Script ITC';
    src: url(./fonts/ITCEDSCR.TTF);
}

@font-face {
    font-family: "Consolas";
    src: url(./fonts/consola.ttf);
}

